<div class="container-t">
  <h1>Tasks</h1>

  <ul>
    <% @tasks.each do |t| %>
      <% icon = t.completed ? 'â˜‘' : 'â˜' %>
      <div class="d-flex">
        <li> <%= icon %> <%= link_to t.title, task_path(t) %> </li>
        <%= link_to destroy_path(t), method: :delete do %>
          <i class="fa fa-ban" aria-hidden="true"></i>
        <% end%>
      </div>
    <% end %>
  </ul>

  + <%= link_to "Add a new task", new_task_path %>
</div>
